<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Pessoas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Data de Nascimento</th>
          <th>Sexo</th>
          <th>CPF</th>
          <th>Naturalidade</th>
          <th>Nacionalidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas | async">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.email}}</td>
          <td>{{pessoa.dataNascimento}}</td>
          <td>{{pessoa.sexo}}</td>
          <td>{{pessoa.cpf | mask: "000.000.000-00"}}</td>
          <td>{{pessoa.naturalidade}}</td>
          <td>{{pessoa.nacionalidade}}</td>
          <td><button (click)="deleta(pessoa.id)" class="btn btn-danger">Deleta</button>
              <button (click)="atualiza(pessoa.id)" class="btn btn-info" style="margin-left: 10px">Atualiza</button>
              <button (click)="detalhes(pessoa.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

